<h1>Editing guide_page</h1>

<% form_for(@guide_page) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :guide_page_sequence_id %><br />
    <%= f.text_field :guide_page_sequence_id %>
  </p>
  <p>
    <%= f.label :index %><br />
    <%= f.text_field :index %>
  </p>
  <p>
    <%= f.label :title %><br />
    <%= f.text_field :title %>
  </p>
  <p>
    <%= f.label :introText %><br />
    <%= f.text_area :introText %>
  </p>
  <p>
    <%= f.label :firstDialogTurn_id %><br />
    <%= f.text_field :firstDialogTurn_id %>
  </p>
  <p>
    <%= f.label :dataSeries_id %><br />
    <%= f.text_field :dataSeries_id %>
  </p>
  <p>
    <%= f.label :axes_id %><br />
    <%= f.text_field :axes_id %>
  </p>
  <p>
    <%= f.label :sensorAppletShouldBeEnabled %><br />
    <%= f.check_box :sensorAppletShouldBeEnabled %>
  </p>
  <p>
    <%= f.label :shoulDdShowImage %><br />
    <%= f.check_box :shoulDdShowImage %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @guide_page %> |
<%= link_to 'Back', guide_pages_path %>