<p>
  <b>Guide page sequence:</b>
  <%=h @guide_page.guide_page_sequence_id %>
</p>

<p>
  <b>Index:</b>
  <%=h @guide_page.index %>
</p>

<p>
  <b>Title:</b>
  <%=h @guide_page.title %>
</p>

<p>
  <b>Introtext:</b>
  <%=h @guide_page.introText %>
</p>

<p>
  <b>Firstdialogturn:</b>
  <%=h @guide_page.firstDialogTurn_id %>
</p>

<p>
  <b>Dataseries:</b>
  <%=h @guide_page.dataSeries_id %>
</p>

<p>
  <b>Axes:</b>
  <%=h @guide_page.axes_id %>
</p>

<p>
  <b>Sensorappletshouldbeenabled:</b>
  <%=h @guide_page.sensorAppletShouldBeEnabled %>
</p>

<p>
  <b>Shoulddshowimage:</b>
  <%=h @guide_page.shoulDdShowImage %>
</p>


<%= link_to 'Edit', edit_guide_page_path(@guide_page) %> |
<%= link_to 'Back', guide_pages_path %>