<h1>Editing dialog_turn</h1>

<% form_for(@dialog_turn) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :guid %><br />
    <%= f.text_field :guid %>
  </p>
  <p>
    <%= f.label :beforeText %><br />
    <%= f.text_area :beforeText %>
  </p>
  <p>
    <%= f.label :responseTemplate_id %><br />
    <%= f.text_field :responseTemplate_id %>
  </p>
  <p>
    <%= f.label :responseVerifier_id %><br />
    <%= f.text_field :responseVerifier_id %>
  </p>
  <p>
    <%= f.label :nextTurnButtonTitle %><br />
    <%= f.text_field :nextTurnButtonTitle %>
  </p>
  <p>
    <%= f.label :nextTurnForNominalResponse_id %><br />
    <%= f.text_field :nextTurnForNominalResponse_id %>
  </p>
  <p>
    <%= f.label :nextTurnForIncorrectResponse_id %><br />
    <%= f.text_field :nextTurnForIncorrectResponse_id %>
  </p>
  <p>
    <%= f.label :isLastTurn %><br />
    <%= f.check_box :isLastTurn %>
  </p>
  <p>
    <%= f.label :shouldAutoAdvance %><br />
    <%= f.check_box :shouldAutoAdvance %>
  </p>
  <p>
  <%= f.label :static_annotations %><br />
	<%= collection_select(:dialog_turn, :static_annotation_ids, @static_annotations, :id, :guid,
		{ :selected => @dialog_turn.static_annotation_ids },
		{:multiple => true, :static_annotations => 'dialog_turn[static_annotation_ids][]' }) %>
  </p>
  <p>
    <%= f.submit 'Update' %>
  </p>
<% end %>

<%= link_to 'Show', @dialog_turn %> |
<%= link_to 'Back', dialog_turns_path %>