<p>
  <b>Name:</b>
  <%=h @dialog_turn.name %>
</p>

<p>
  <b>Beforetext:</b>
  <%=h @dialog_turn.beforeText %>
</p>

<p>
  <b>Responsetemplate:</b>
  <%=h @dialog_turn.responseTemplate_id %>
</p>

<p>
  <b>Responseverifier:</b>
  <%=h @dialog_turn.responseVerifier_id %>
</p>

<p>
  <b>Aftertext:</b>
  <%=h @dialog_turn.afterText %>
</p>

<p>
  <b>Nextturnbuttontitle:</b>
  <%=h @dialog_turn.nextTurnButtonTitle %>
</p>

<p>
  <b>Nextturnfornominalresponse:</b>
  <%=h @dialog_turn.nextTurnForNominalResponse_id %>
</p>

<p>
  <b>Nextturnforincorrectresponse:</b>
  <%=h @dialog_turn.nextTurnForIncorrectResponse_id %>
</p>

<p>
  <b>Islastturn:</b>
  <%=h @dialog_turn.isLastTurn %>
</p>

<p>
  <b>Shouldautoadvance:</b>
  <%=h @dialog_turn.shouldAutoAdvance %>
</p>


<%= link_to 'Edit', edit_dialog_turn_path(@dialog_turn) %> |
<%= link_to 'Back', dialog_turns_path %>