<h1>Listing static_annotations</h1>

<table>
  <tr>
    <th>Name</th>
    <th>Annotation type</th>
    <th>Points</th>
  </tr>

<% @static_annotations.each do |static_annotation| %>
  <tr>
    <td><%=h static_annotation.name %></td>
    <td><%=h static_annotation.annotation_type %></td>
    <td><%=h static_annotation.points_id %></td>
    <td><%= link_to 'Show', static_annotation %></td>
    <td><%= link_to 'Edit', edit_static_annotation_path(static_annotation) %></td>
    <td><%= link_to 'Destroy', static_annotation, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New static_annotation', new_static_annotation_path %>