<h1>New static_annotation</h1>

<% form_for(@static_annotation) do |f| %>
  <%= f.error_messages %>

  <p>
    <%= f.label :guid %><br />
    <%= f.text_field :guid %>
  </p>
  <p>
    <%= f.label :annotation_type %><br />
    <%= f.text_field :annotation_type %>
  </p>
  <p>
    <%= f.label :points_id %><br />
    <%= f.text_field :points_id %>
  </p>
  <p>
    <%= f.submit 'Create' %>
  </p>
<% end %>

<%= link_to 'Back', static_annotations_path %>