<p>
  <b>Guid:</b>
  <%=h @static_annotation.guid %>
</p>

<p>
  <b>Type:</b>
  <%=h @static_annotation.type %>
</p>

<p>
  <b>Points:</b>
  <%=h @static_annotation.points_id %>
</p>


<%= link_to 'Edit', edit_static_annotation_path(@static_annotation) %> |
<%= link_to 'Back', static_annotations_path %>