<p>
  <b>Name:</b>
  <%=h @static_annotation.name %>
</p>

<p>
  <b>Annotation type:</b>
  <%=h @static_annotation.annotation_type %>
</p>

<p>
  <b>Points:</b>
  <%=h @static_annotation.points_id %>
</p>


<%= link_to 'Edit', edit_static_annotation_path(@static_annotation) %> |
<%= link_to 'Back', static_annotations_path %>