<p>
  <b>Guid:</b>
  <%=h @static_annotations.guid %>
</p>

<p>
  <b>Type:</b>
  <%=h @static_annotations.type %>
</p>

<p>
  <b>Points:</b>
  <%=h @static_annotations.points_id %>
</p>


<%= link_to 'Edit', edit_static_annotations_path(@static_annotations) %> |
<%= link_to 'Back', static_annotations_path %>