<h1>Listing guide_page_sequences</h1>

<table>
  <tr>
    <th>Guid</th>
  </tr>

<% @guide_page_sequences.each do |guide_page_sequence| %>
  <tr>
    <td><%=h guide_page_sequence.guid %></td>
    <td><%= link_to 'Show', guide_page_sequence %></td>
    <td><%= link_to 'Edit', edit_guide_page_sequence_path(guide_page_sequence) %></td>
    <td><%= link_to 'Destroy', guide_page_sequence, :confirm => 'Are you sure?', :method => :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New guide_page_sequence', new_guide_page_sequence_path %>